---
layout: default
title: SBE Home Page
description: >-
  Sustainable Built Environments (SBE) was formed in 2001 by a
  multi-disciplinary team of industry leaders passionate about the role that the
  built environment can have in shaping thriving communities and cities. As a
  dedicated ESD consultancy we work with and support design teams navigate the
  sustainable building landscape - from meeting Town Planning and statutory
  energy efficiency requirements to designing high performing and innovative
  buildings, and achieving best practice voluntary certifications.
banner-image_path:
  - /uploads/Images_Albury_1.jpg
  - /uploads/Images_Altona_1.jpg
  - /uploads/Images_BacchusMarsh_1.jpg
  - /uploads/Images_Boxhill_1.jpg
  - /uploads/Images_Brighton_1.jpg
  - /uploads/Images_CaseyGreen_1.jpg
  - /uploads/Images_EastKeilor_1.jpg
  - /uploads/Images_Gippsland_1.jpg
  - /uploads/Images_KeilorEastPEGS_1.jpg
  - /uploads/Images_Lara_1.jpg
  - /uploads/Images_BoxHill_Test.jpg
second-banner-image_path: /uploads/SBE_Banner.jpg
---

<section class="padded-10">
  <div class="slideshow-container">

{% for banner in page.banner-image_path %}
  
<!-- Full-width images with number and caption text -->
<div class="banner-width">
  <div class="mySlides fade banner index-banner" style="background-image: url('{{banner}}');">
  </div>
</div>

  <!-- <div class="numbertext"></div> -->
  <!-- <img src="{{page.banner-image_path_1}}"> -->
{% endfor %}
{%- comment -%}

<div class="mySlides fade banner" style="background-image: url('{{page.banner-image_path_2}}');">
  <!-- <div class="numbertext"></div> -->
  <!-- <img src="{{page.banner-image_path_2}}"> -->
</div>
<div class="mySlides fade banner" style="background-image: url('{{page.banner-image_path_3}}');">
  <!-- <div class="numbertext"></div> -->
  <!-- <img src="{{page.banner-image_path_3}}"> -->
</div>
<div class="mySlides fade banner" style="background-image: url('{{page.banner-image_path_4}}');">
  <!-- <div class="numbertext"></div> -->
  <!-- <img src="{{page.banner-image_path_4}}"> -->
</div>
{%- endcomment -%}
  </div>
</section>


<!-- Next and previous buttons -->
<!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

<!-- The dots/circles -->
<!-- <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->



<!-- old banner -->
<!--
<section class="banner overlay" style="background-image:url('{{page.banner-image_path}}');">
  <div class="banner-inner">
      <h1 class="editable"> Sustainable Built Environments </h1>
      <p class="editable">Innovative Ideas / Collaborative Design / Practical Solutions</p>
  </div>
  <a href="#section2" class="down-arrow">
      <img src="/images/down-icon.png" />
  </a>
 -->
<!-- <section class="text-banner" id="section2">
  <h2 class="center editable">An independent ESD Consultancy</h2>
  <hr class="center" />

  <p class="editable">
    SBE is an independent ESD Consultancy firm with over 16 years of experience working for clients, architects, engineering firms, educational institutions, local Councils and State and National Government bodies.
  </p>
  <span class="stars">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </span>
  <p class="editable"></p>
</section> -->

<section class="padded light-bg">

  <h2 class="editable">
    Featured Projects
  </h2>
  <hr />
  <div class="grid">
    <p class="col-8 editable">
      SBE is an independent ESD Consultancy firm with over 20 years of experience working for clients, architects, engineering firms, educational institutions, local Councils and State and National Government bodies.
    </p>
  </div>

  <div class="grid">
  {% for project in site.projects limit:3 %}


  <div class="col-4_sm-12 image about" style="background-image:url('{% for img in project.images limit:1%}{{img.image_path}}{% endfor %}');">
    <a href="{{project.url}}">
      <div class="hover-overlay  team-member">
        <div class="text-overlay">
          <span class="name">{{project.name}}</span>
          <span class="title">{{project.architect}}</span>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
</section>


<section class="banner second short overlay grid" style="background-image:url('{{page.second-banner-image_path}}');">
  <div class="banner-inner editable light col-6_sm-10_xs-12 left">
    <h3>As a multi-disciplinary ESD consulting firm our aim is to work closely with clients and design teams to help them navigate the sustainable building landscape - from Town Planning to statutory and voluntary certifications.</h3>
  </div>
</section>

<!-- <section class="padded center">
  <h2 class="editable">We are experts at... </h2>
  <hr class="center" />
    <div class="grid left">

        {% for service in site.services %}

            <div class="col-3_sm-6_xs-12 padded-2">
               <h3>{{service.name}}</h3>
               <p>{{service.blurb}}</p>
            </div>

        {% endfor %}
  
  <a href="/services" class="button center"> Read More  </a>
 -->
<!-- <a class="map banner" href="/contact">
</a> -->
