---
layout: default
title: SBE Home Page
description: >-
  Sustainable Built Environments (SBE) was formed in 2001 by a
  multi-disciplinary team of industry leasers passionate about the role that the
  built environment can have in shaping thriving communities and cities. As a
  dedicated ESD consultancy we work with and support design teams navigate the
  sustainable building landscape - from meeting Town Planning and statutory
  energy efficiency requirements to designing high performing and innovative
  buildings, and achieving best practice voluntary certifications.
banner-image_path:
---

<section class="banner overlay" style="background-image:url('{{page.banner-image_path}}');">
  <div class="banner-inner">
      <h1 class="editable"> Sustainable Built Environments </h1>
      <p class="editable">Innovative Ideas / Collaborative Design / Practical Solutions</p>
  </div>
  <a href="#section2" class="down-arrow">
      <img src="/images/down-icon.png" />
  </a>
</section>
<section class="text-banner" id="section2">
  <h2 class="center editable">Our customers love us... </h2>
  <hr class="center" />

  <p class="editable">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  <span class="stars">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </span>
  <p class="editable">- A grateful client</p>
</section>

<section class="padded light-bg">

  <h2 class="center"> Recent Projects </h2>
  <hr class="center" />
  <div class="grid">
  {% for project in site.projects limit:3 %}
      <div class="col-4_sm-12 padded-2">
        <div class="tall-image" style="background-image:url('{{project.images[0].image_path}}');">
        </div>
        <a href="{{project.url}}" class="offset-top padded">
             <h3>{{project.name}}</h3>
             <p>{{project.blurb}}</p>
        </a>
      </div>
  {% endfor %}
</div>
</section>


<section class="padded center">
  <h2 class="editable">We are experts at... </h2>
  <hr class="center" />
    <div class="grid left">

        {% for service in site.services %}

            <div class="col-3_sm-6_xs-12 padded-2">
               <h3>{{service.name}}</h3>
               <p>{{service.blurb}}</p>
            </div>

        {% endfor %}
  </div>
  <a href="/services" class="button center"> Read More  </a>
</section>
<a class="map banner" href="/contact">
</a>
