---
layout: default
title: SBE Projects
banner-image_path: /uploads/Panorama_Apartments_13.jpg
---

<section class="banner overlay" style="background-image:url('{{page.banner-image_path}}');">
  <div class="banner-inner editable">
      <h1> this is a witty heading </h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <a href="#section2" class="down-arrow">
      <img src="/images/down-icon.png" />
  </a>
</section>

<section class="services-loop" id="section2">

  {% for category in site.project-categories limit:4 %}
  <div class="grid">
      <div class="col-7_xs-12 padded">
         <h3>{{category.name}}</h3>
         <hr />
         <p>{{category.blurb}}</p>
         <a href="{{category.url}}" class="button"> READ MORE </a>
      </div>
      <div class="col-5_xs-12 image" style="background-image:url('{{category.banner-image_path}}');">
          <!-- <p class="text-overlay">{{category.number}}</p> -->
      </div>
  </div>
  {% endfor %}

</section>

<section class="text-banner">
  <h2 class="editable"> our customers love us</h2>
  <hr class="center">
  <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

<section class="services-loop">

  {% for category in site.project-categories offset:4 %}
  <div class="grid">
      <div class="col-7_xs-12 padded">
         <h3>{{category.name}}</h3>
         <hr />
         <p>{{category.blurb}}</p>
         <a href="{{category.url}}" class="button"> READ MORE </a>
      </div>
      <div class="col-5_xs-12 image" style="background-image:url('{{category.banner-image_path}}');">
          <p class="text-overlay">{{category.number}}</p>
      </div>
  </div>
  {% endfor %}

</section>
