---
layout: default
title: SBE Services
banner-image_path: /uploads/mawson-institute-of-advanced-manufacturing-exterior.jpg
---

<section class="banner overlay" style="background-image:url('{{page.banner-image_path}}');">
  <div class="banner-inner">
      <h1 class="editable">Services</h1>
      <p class="editable">An inter-disciplinary approach to assist you through all phases of your project&nbsp;&nbsp;</p>
  </div>
  <a href="#section2" class="down-arrow">
      <img src="/images/down-icon.png" />
  </a>
</section>

<section id="section2">
    <div class="padded">
          <h2 class="editable"> Services We Offer</h2>
          <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <nav class="margin-top">
            {% assign sorted_services = site.services | sort: 'number' %}
              {% for service in sorted_services %}
              <a href="#{{service.name | slugify}}" class="tag"> {{service.name}}</a>
              {% endfor %}
          </nav>
    </div>
</section>


  {% assign sorted_services = site.services | sort: 'number' %}
    {% for service in sorted_services %}
    <section id="{{service.name | slugify}}" class="banner short overlay" style="background-image:url('{{service.image_path}}');">
      <div class="banner-inner">
          <h2 class="editable">{{service.name}}
      </h2></div>
      <p class="text-overlay">{{service.number}}</p>
    </section>

    <section class="padded">
       <h3> {{service.name}}</h3>
       {{service.content}}
    </section>
    {% endfor %}
