<footer class="grid">
    <!-- <div class="col-3_sm-12 padded-2">
        <h3> Sustainable Built Environment</h3>
        <p class="editable">
          As a multi-disciplinary ESD consulting firm our aim is to work closely with clients and design teams to help them navigate the sustainable building landscape - from Town Planning to statutory and voluntary certifications.
        </p>
    </div> -->
    <div class="col-4_sm-12 padded-2">
      <h4> OUR SERVICES </h4>
      <nav>
          {% for service in site.services %}
          <a href="{{service.url}}"> {{service.name}}</a>
          {% endfor %}
      </nav>
    </div>
    <div class="col-4_sm-12 padded-2">
      <h4> OUR PROJECTS </h4>
      <nav>
        {% for project in site.project-categories limit:10 %}
        <a href="{{project.url}}"> {{project.name}} </a>
        {% endfor %}
      </nav>
    </div>
    <div class="col-4_sm-12 padded-2">
      <h4> OTHER LINKS </h4>
        <nav>
          <a href="/index.html"> Home </a>
          <a href="/about"> About </a>
          <a href="/news"> News </a>
          <a href="/contact"> Contact </a>
        </nav>
    </div>
</footer>
<div class="sub-footer">
  (c) 2021 | Website Designed & Built by Tina May at <a href="http://www.instituteofcode.com"> The Institute of Code</a>
</div>
