<header class="grid">
   <div class="col-4_xs-8-middle logo padded">
      <img src="/images/logo.jpg" alt="SBE Sustainable Built Environments"/>
   </div>
   <div class="col-8_xs-4-middle right">
     <nav class="menu mob-hide">
       <li> <a href="/index.html"> Home </a> </li>
      <li> <a href="/about"> About </a> </li>
      <li>
         <a href="/services.html"> Services </a>
         <div class="sub-menu grid left padded">
           <div class="col-3">
             <h3> OUR SERVICES </h3>
             <p class="editable">We bring together architecture, engineering and building physics to assist you through all phases of a building project - from meeting Town Planning requirements to achieving best practice voluntary certification.</p>
           </div>
           <div class="col-3"> <!-- empty div --> </div>
           <div class="col-3">
                {% for service in site.services limit:6 %}
                <a href="/services-extended#{{service.name | slugify}}"> {{service.name}}</a>
                {% endfor %}
            </div>
            <div class="col-3">
              {% for service in site.services offset:6 %}
              <a href="/services-extended#{{service.name | slugify}}"> {{service.name}}</a>
              {% endfor %}
            </div>
         </div>
      </li>
      <li>
        <a href="/projects.html"> Projects </a>
        <div class="sub-menu grid left padded">
          <div class="col-3">
            <h3> OUR PROJECTS </h3>
            <p class="editable">We believe in the importance of adopting a holistic and integrative approach to design based on&nbsp; inter-disciplinary collaboration and focused on achieving our clients' goals. Over the years SBE has successfully delivered hundreds of projects. Here we have selected a few.</p>
          </div>
          <div class="col-3"> <!-- empty div --> </div>
          <div class="col-3">
              {% for project in site.project-categories limit:6 %}
              <a href="{{project.url}}"> {{project.name}}</a>
              {% endfor %}
           </div>
           <div class="col-3">
             {% for project in site.project-categories offset:6 %}
             <a href="{{project.url}}"> {{project.name}}</a>
             {% endfor %}
           </div>
        </div>
      </li>
      <li>
          <a href="/news"> News </a>
      </li>
      <li>
          <a href="/contact"> Contact </a>
      </li>
     </nav>



   </div>
</header>

<!-- Mobile Nav -->
 <div class="mobile-menu-button">
     <i class="fa fa-bars"></i>
     <i class="fa fa-times"></i> <!-- this only appears on when the nav is open -->
 </div>

 <nav class="mobile-nav">
  <a href="/index.html"> Home </a>
  <a href="/about"> About </a>
  <a href="/services"> Services </a>
  <a href="/projects"> Projects </a>
  <a href="/blog"> Blog </a>
  <a href="/contact"> Contact </a>
 </nav>
