header {
  position: relative;
  padding: 0 5%;
  border-bottom: 1px solid rgb(240,240,240);
  min-height: 4rem;
}
header.grid > div {   padding: 0;   }
header h3 { margin:0;  }

.sub-menu {
  visibility: hidden;
  position: absolute;
  width: 100%;
  padding: 1% 5%;
  background-color: rgb(240,240,240);
  transition: opacity 0.3s;
  opacity: 0;
  left: 0;
  z-index: 5;
}

.menu li {
  list-style: none;
  display: inline-block;
}
.menu li:hover > .sub-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

.menu > li > a {
    padding: 2rem 0.5rem;
}

.menu a,
footer nav a {
  display: block;
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.menu a:hover,
footer nav a:hover,
.mobile-nav a:hover {
    color: $color-featured;
}


/* Footer */

footer {
  background-color: $color-dark;
  color: white;
  padding: 2vh 5%;
}

footer nav a {
  font-size: 0.9rem;
  padding: 0.2rem 0;
}

.sub-footer {
  background-color: #35353f;
  color: rgb(220,220,220);
  padding: 0.5%;
  text-align: center;
  font-size: 0.8rem;
}




/* Mobile Nav */
.mobile-nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(60,60,65,0.95);
    color: white;
    padding: 10vh 10%;
}

.mobile-nav a {
  display      : block;
  width        : 100%;
  padding      : 2vh;
}

.mobile-nav .social-icon {
  display: inline-block;
}

.mobile-menu-button {
  padding: 1rem;
  position: absolute;
  right: 0.5rem;
  top: 0;
  display: none;
  z-index: 100;
}

.mobile-menu-button .fa {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.mobile-menu-button.nav-open .fa-bars {
  display:none;
}
.mobile-menu-button .fa-times {
  display:none;
}

.mobile-menu-button.nav-open .fa-times {
  color: white;
  display:block;
}

@media(max-width:700px) {
  .menu {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
}
