* {
  box-sizing  : border-box;
  margin      : 0;
  padding     : 0;

  // border: 1px solid rgb(240,240,240);
}
html {
  overflow-x: hidden;
  font-size: 14px;
  color: rgb(60,60,60);
  background-color: rgb(245,245,245);
}

body {
    max-width: 1450px;
    margin: auto;
    background-color: white;
    overflow: hidden;
}

section:focus {
  outline: none;
}

img {
  max-width : 100%;
  height: auto;
}

.post img {
  max-width : 100%;
  height    : auto;
}

li {
  list-style-position: inside;
  font-weight: 300;
}

a {
  display: inline-block;
  color: inherit;
}
p, li {
  font-weight: 400;
  font-size: 1.1rem;
}

/* Sticky Scrolling */

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sticky.sticky-fixed.is-sticky {
  position: fixed;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sticky.sticky-fixed.is-sticky:not([style*="margin-top"]) {
  margin-top: 0 !important;
}
.sticky.sticky-fixed.is-sticky:not([style*="margin-bottom"]) {
  margin-bottom: 0 !important;
}

.sticky.sticky-fixed.is-absolute{
  position: absolute;
}
