body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300
}

h1,h2,h3,h4,h5, p {
  margin:1em 0 0.5em;
}
h1,h2,h3,h4,h5,h6{
  font-family:"acumin-pro", sans-serif;
}
h2:first-child,
h3:first-child {
  margin-top:0;
}

h1, h2,.fakeH2 {
  font-weight: 300;
  font-size: 2.3rem;
}
p, li {
    line-height:1.6;
    font-weight: 300;
}

a {
  text-decoration: none
}


.sub /* sub heading style */ {
    text-transform: uppercase;
    color: rgb(120,120,120);
}
li {
    list-style-position: outside;
    padding-left: 0.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

nav li {
  margin:0;
}

/* Other elements */

hr {
  border: none;
  border-bottom: 2px solid $color-featured;
  width: 3.5rem;
  margin: 1rem 0;
}
hr.center {
  margin-left: auto;
  margin-right: auto;
}

/* buttons */

.button {
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border: 1px solid $color-featured;
  color: $color-featured;
  text-decoration: none;
  transition: all 0.5s;
  background-color: white;
}

.button:hover {
  border-color: $color-dark;
  color: $color-dark;
}

.button.filter {
    margin: 0.5rem;
    text-transform: capitalize;
}

.tag {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(90,90,90);
    color: rgb(90,90,90);
    border-radius: 3px;
    margin-right: 0.2rem;
    margin-bottom: 0.4rem;
}
.tag:hover {
  color: rgb(150,150,150);
  border: 1px solid rgb(150,150,150);
  transition: 0.5s all;
}

.post h2 {
  font-size: 1.8rem;
}

/* Breadrumb */
.breadcrumb {
    margin-top: -0.5rem;
    font-size: 0.9rem;
    color: rgb(150,150,150);
}

@media(max-width: 768px) {
  h1, h2 {
    font-size: 2rem;
  }
}

.social .fab{
  font-size: 2rem;
}
