/* utility classes */

.left {     text-align: left;   }
.right {    text-align: right;  }
.center {   text-align: center; }
.tall {     min-height: 80vh;}
.short {    min-height:50vh; }

.border-top {
  border-top: 1px solid rgb(240,240,240);
}


.padded {     padding: 5%;  }
.padded-1 {   padding: 1%;  }
.padded-b-1r{ padding-bottom:1rem;}
.padded-2 {   padding: 2%;  }
.no-padding { padding: 0;   }
.padded-10 {   padding: 10%;  }


.margin-2 {margin: 5% 2%;}
.margin-top {margin-top: 5%;}
.margin-top-2 { margin-top: 2%; }

.block {
  display: block;
  width: 100%;
}
.hidden,.port-item.hidden{
  display: none;
}

// filters

.blackAndWhite{
  filter: grayscale(100%);
}

.columns {
    -webkit-columns: auto 3; /* Chrome, Safari, Opera */
    -moz-columns: auto 3; /* Firefox */
    columns: auto 3;

    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}

.columns p:first-child {
  margin-top:0;
}

.cleanList li {
  list-style: none;
  margin-top: 0.5rem;
}

/* horizontal title with left border */

.border-left {
  border-left: 2px solid $color-featured;
  margin-left: 7rem;
  margin-top: 2%;
  padding: 1% 3%;
}

.border-left .rotate {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: -8rem;
  margin-top: 5vh;
  display: inline-block;
  position: absolute;
}

@media(max-width:767px) {
  .border-left {
    border: none;
    margin: 0;
    padding: 5%;
  }

  .border-left .rotate {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin: 0;
    display: block;
    position: relative;
  }
}

/* offset boxes */

.offset-left {
  border: 1px solid rgb(250,250,250);
  background: white;
  margin: 2rem -2rem;
}

.offset-top {
  border: 1px solid rgb(250,250,250);
  background: white;
  margin: -2rem 1rem 0 1rem;
}

.light-bg {
  background-color: rgb(250,250,250);
}

/* Banners */

.banner {
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  min-height: 80vh;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.banner.short {
  min-height: 50vh;
}

.banner.second{
  justify-content: flex-start;
}


.banner.second h3{
    font-size: 1.6rem;
    font-weight: 300;
}

.banner.second p{
    font-size: 1.2rem;
    font-weight: 200;
}

.overlay:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.banner-inner {
  color: white;
  text-align: center;
  padding: 5%;
  z-index:2;
}

.banner-inner.left{
  text-align: left
}

.text-banner {
  padding: 5%;
  text-align: center;
}

.index-banner{
  min-height:1rem;
  padding-bottom:44%;
}

.down-arrow {
  position: absolute;
  left: 48%;
  bottom: 1rem;
  z-index:2;
}

/* Image block with text overlay */

.image,
.post-image,
.sidebar-image,
.tall-image,
.project-image {
  background-position: center;
  background-size: cover;
}

.image {
  padding-bottom: 25%;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
}
.project-image{
  min-height: 33vw!important;
  display: inline-block;
}
.square.image{padding-bottom: 100%;}
.text-overlay {
  position: absolute;
  bottom:  -10px;
  font-size: 2rem;
  line-height: 0.9;
  right: 1rem;
  color: rgba(255,255,255,0.8);
  font-weight: 300;
  margin:0;
}

.post-image {
  padding-bottom: 25%;
}
.sidebar-image,
.tall-image {
  padding-bottom: 50%;
}



/* alternating services loop */

.services-loop > .grid:nth-of-type(odd)  {
  flex-direction: row-reverse;
}

.services-loop .grid {
  padding: 10vh 0;
}

/* project page */

.project-info {
    margin: 0;
    margin-bottom: 1rem;
    border-top: 1px solid rgb(150,150,150);
    border-bottom: 1px solid rgb(150,150,150);
}

.project-info > div {
  padding: 1%;
}

.img-square{
  position: relative;
  padding-bottom: 100%;
}
.img-square img{
  object-fit: cover;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  left:0;
  right:0;
}
/* Blog post */

.sidebar {
  border: 1px solid rgb(240,240,240);
  color: rgb(90,90,90);
}

.sidebar h2,
.sidebar h3 {
  margin-top:0;
}


/* About Page */
.hover-overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  height:100%;
  width:100%;
}
.hover-overlay:hover {
  background: rgba(0, 0, 0, 0.6);
}
.about .text-overlay {
  bottom: 10px;
  left: 10px;
  text-align: left;
  border-left: 2px solid white;
  padding: 0.5rem 1rem ;
  font-size: 1.5rem;
  display: none;
  line-height: 1.3;
}

.about:hover .text-overlay {
  display: block;
}

.about .text-overlay .title {
    font-size: .8rem;
    text-transform: uppercase;
    display: block;
    margin-top: 0.6rem;
    font-weight: 600;
}

.border-left h2 {
  margin-top:0;
}

/* Map section */

.map {
  background-image: url('/images/map.png');
  background-size: cover;
  background-position: center;
  display: block;
  min-height: 50vh;
  z-index: 1;
}

/* Contact Page */
.contact i.fa {
  min-width: 1.5rem;
}


.slick-prev, .slick-next{
  z-index: 999;
  width: 3rem;
  height:3rem;
}

.slick-prev::before, .slick-next::before{
  content: "❯";
  font-size: 2rem;
  color:rgb(0, 0, 0);
  opacity:.8;
}

.slick-prev::before{
  content: "❮";
}

.testimonials .slick-prev::before,.testimonials .slick-next::before{
  color: black;
}
.slick-prev{
  left:-3rem;
}
.slick-next{
  right:-3rem;
}

.testimonials .slick-prev::before,.testimonials .slick-next::before{

}



@media screen and (max-width:35.5em) { /* xs */
    .image,
    .post-image {
      padding-bottom: 50%;
    }

    .services-loop .grid {
      padding: 5vh 0;
    }
    .offset-left {
      margin:0;
      border: none;
    }
    .columns {
    -webkit-columns: auto 1; /* Chrome, Safari, Opera */
    -moz-columns: auto 1; /* Firefox */
    columns: auto 1;
  }



}


// gridlex md

@media screen and (max-width:48em) {
  
  .hover-overlay {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100%;
 width: 100%;
 background-color: rgba(255, 255, 255, 0.61);
 display: flex;
 justify-content: center;
 align-items: center;
}

.hover-overlay:hover {
    background: rgba(255, 255, 255, 0.61);
}

.about .text-overlay {
 bottom: 10px;
 left: 10px;
 text-align: left;
 border-left: 0px solid white; /*! padding: 0.5rem 1rem; */
 font-size: 1.5rem;
 display: block;
 line-height: 1.3; /*! align-content: center; */
 /*! justify-content: center; */padding: 5vw;
 text-align: center;
}
.text-overlay { 
  position: static;
  bottom: 0px;
 font-size: 2rem;
 line-height: 0.9;
 right: 1rem;
 color: rgba(0, 0, 0, 0.8);
 font-weight: 600;
 margin: 0;
}

.about .text-overlay .title {
 font-size: .8rem;
 text-transform: uppercase;
 display: none;
 margin-top: 0.6rem;
 font-weight: 600;
}


}