// masonry js css

.masnory-item, .item-sizer {
    width: calc(20% - 20px);
    display: block;
    // padding-bottom: 2rem;
    border: 1px solid #7b7b7b;
    margin-bottom: 20px;
}

.masnory-item div{
    padding: 20px;
}

.masonry-light-text{
font-size: 0.9rem;
color: #737373;
}



@media only screen and (max-width:945px) {
    .masnory-item, .item-sizer {
        width: calc(25% - 20px);
    }
}

@media only screen and (max-width:758px) {
    .masnory-item, .item-sizer {
        width: calc(33% - 20px);
    }
}

    @media only screen and (max-width:568px) {
    .masnory-item, .item-sizer {
        width: calc(50% - 20px);
       }
}
        @media only screen and (max-width:568px) {
    .masnory-item, .item-sizer {
        width: 100%;
    }
}