---
layout: default
---

<section class="banner overlay" style="background-image:url('{{page.banner-image_path}}');">
  <div class="banner-inner">
      <h1> {{page.title}} </h1>
      <p> {{page.subtitle}} </p>
  </div>
</section>

<section class="padded grid post">
  <div class="col-8_xs-12" data-cms-content-wrapper="/_layouts/post.html">
   {{content}}
  </div>


  <div class="col-4_xs-12">
    <div class="margin-2 padded sidebar editable"><h2>About SBE</h2><hr /><p>SBE was formed in 2001 by a multi-disciplinary team of industry leaders passionate about the role that the built environment can have in shaping thriving communities and cities.</p><p>As a dedicated ESD consultancy, we aim assist our clients navigate the sustainable building landscape and achieving their sustainability goals.</p></div>
    <div class="margin-2 padded sidebar">
      <h2> Recent Posts</h2>
      <hr />

      {% for post in site.posts limit:4 %}

        <a href="{{post.url}}" class="padded-2 block">
          <h3> {{post.title}}</h3>
          <div class="sidebar-image" style="background-image:url('{{post.image_path}}')"></div>

        </a>
      {% endfor %}
    </div>




</div></section>

<section class="text-banner light-bg">
  <h2 class="editable">Interested in including sustainability features in your next project?</h2>
  <hr class="center" />
  <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <a href="#" class="button editable">Explore</a>
</section>
