---
layout: default
---

<section class="banner overlay" style="background-image:url('{{page.banner-image_path}}');">
  <div class="banner-inner">
      <h1> {{page.title}} </h1>
      <p> {{page.subtitle}} </p>
  </div>
</section>

<section class="padded grid post">
  <div class="col-8_xs-12 padded-2">
   {{content}}
  </div>


  <div class="col-4_xs-12">
    <div class="margin-2 padded sidebar editable">
      <h2>About SBE</h2>
      <hr />
      <p>SBE was formed in 2001 by a multi-disciplinary team of industry leaders passionate about the role that the built environment can have in shaping thriving communities and cities.</p>
      <p>As a dedicated ESD consultancy, we aim assist our clients navigate the sustainable building landscape and achieving their sustainability goals.</p>
    </div>
    <div class="margin-2 padded sidebar">
      <h2> Recent Posts</h2>
      <hr />

      {% for post in site.posts limit:4 %}

        <a href="{{post.url}}" class="padded-2 block">
          <h3> {{post.title}}</h3>
          <div class="sidebar-image" style="background-image:url('{{post.image_path}}')"></div>

        </a>
      {% endfor %}
    </div>




</div></section>

<section class="text-banner light-bg">
  <h2 class="editable">
    Thinking about incorporating ESD initiatives into your next project?
  </h2>
  <hr class="center" />
  <p class="editable">
    Whether you are considering incorporating ESD initiatives into your next project, or you need to demonstrate a commitment to sustainable design to planning authorities, or you need Section J reporting for Building Permit, we would love to hear from you!
  </p>
  <a href="#" class="button editable">Explore</a>
</section>
