---
layout: default
---
<section class="padded">
  <p class="breadcrumb"> <a href="/projects.html"> < Back To Projects </a></p>
  <h1> {{page.name}} Projects </h1>
  <hr />
 {{content}}
</section>
<section class="light-bg padded">

   <h2 class="center"> Recent {{page.name}} Projects </h2>
   <hr class="center">

<div class="grid-center">


{% assign relatedprojects  = site.projects | where: "category",page.category %}
 {% for project in relatedprojects %}
     
<div class="col-3_md-4_sm-6_xs-12 image about port-item {{project.category}}"
  style="background-image:url('  {% for img in project.images limit:1 %}{{img.image_path}}" {% endfor %}');">
  <a href="{{project.url}}" class="hover-overlay" data-target="pop{{ forloop.index }}">
    <div class="text-overlay">
      <span class="name">{{project.name}}</span>
      <span class="title">{{project.title}}</span>
    </div>
  </a>
</div>
 {%- comment -%}
 <div class="col-3_md-4_sm-6_xs-12 image about port-item {{project.category}}" style="background-image:url('  {% for img in project.images limit:1 %}{{img.image_path}}"{% endfor %}');">
   <a href="{{project.url}}" class="hover-overlay" data-target="pop{{ forloop.index }}">
     <div class="text-overlay">
       <span class="name">{{project.name}}</span>
       <span class="title">{{project.title}}</span>
      </div>
    </a>
  </div>
  {%- endcomment -%}
 {% endfor %}

 </div>
</section>
